<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='SIW')"> </head>
<body>
    <header th:replace="fragments/base.html :: intestazione"></header>
    
<div class="body-content">

        <div class="containerLogin">
         <div class="logoLogin">
                <img src="/images/logo.png" alt="Company Logo" srcset="">
            </div>
            <h3>MENU ADMIN</h3>
                <div>
                    <a th:href="@{/chef}" >Elenco chefs</a><br><br>
                    <a th:href="@{/piatto}">Elenco piatti</a><br><br>
                    <a th:href="@{/ingrediente}" type="button">Elenco ingredienti</a><br><br>
                    <a th:href="@{/buffet}" type="button">Elenco buffets</a><br><br>
                    <a th:href="@{/admin/chef}" type="button">Inserisci dati chef</a><br><br>
                    <a th:href="@{/admin/piatto}" type="button">Inserisci dati piatto</a><br><br>
                    <a th:href="@{/admin/ingrediente}" type="button">Inserisci dati ingrediente</a><br><br>
                    <a th:href="@{/admin/buffet}" type="button">Inserisci dati buffet</a><br><br>
                    <a th:href="@{/logout}" type="button">Logout</a>
                   </div>
                   
            </div>
    </div>
    
    <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
</html>