<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.formIngrediente})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	
	<div class="body-content">

        <div class="containerLogin">
            <div class="logoLogin">
                <img src="/images/logo.png" alt="Company Logo" srcset="">
            </div>
	
	<div class="font-size">
		<h3>Inserisci ingrediente</h3>
	</div>
	<form th:action="@{/admin/ingrediente}" method="POST" th:object="${ingrediente}">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>		
		<div>
			<div class="form-item">
				<span>Nome:</span>
				<span><input type="text" th:field="*{nome}" /></span>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>		
			<div class="form-item">
				<span>Descrizione:</span>
				<span><input type="text" th:field="*{descrizione}" /></span>
				<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
			</div>
			<div class="form-item">
				<span>Origine:</span>
				<span><input type="text" th:field="*{origine}" /></span>
				<span th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}"></span>
			</div>
			<div class="form-btns">
				<span><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>
                    </div>
        </div>
        
	<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>